/*Defining base font size and values of base and resolution ratio with 2 breakpoints (mobile and tablet). 
Defining function for changing size of font (in pixels):

                 | RESOLUTION RATIO LEVEL
--------------------------------------------
BASE RATIO LEVEL |    0   |    1    |   2
--------------------------------------------
        0        |   80   |    60   |   45
        1        |   54   |    40   |   30 
        2        |   36   |    27   |   20
        3        |   24   |    20   |   16 
        4        |   16   |    16   |   16
        5        |   11   |    11   |   11
*/

@function font_size($base_ratio_level, $resolution_ratio_level){
    $font_size: $base_font;

    @if $base_ratio_level == 4 or $base_ratio_level == 5{
        $resolution_ratio_level: 0;
    }

    @if $base_ratio_level > 0{
        @for $i from 1 through $base_ratio_level{
            $font_size: $font_size * $base_ratio;
        }
    }

    @if $resolution_ratio_level > 0{
        @for $i from 1 through $resolution_ratio_level{
            $font_size: $font_size * $resolution_ratio;
        }
    }

    @if $base_ratio_level == 3 and ($resolution_ratio_level == 1 or $resolution_ratio_level == 2){
        $font_size: $font_size + 2;
    }

    $font_size: round($font_size);

    @return $font_size;
}

//Mixin changing font-sizes for different resolution of the screen:

@mixin medium_resolution {
    @media (max-width: $medium_resolution * 1px) {
        @content;
    }
}

@mixin small_resolution {
    @media (max-width: $small_resolution * 1px) {
        @content;
    }
    
}

@mixin desktop_resolution {
    @media (min-width: $medium_resolution * 1px){
        @content;
    }
}

@mixin font_sizes($base_level){
    font-size: font_size($base_level, 0);
    @include medium_resolution()
    {
        font-size: font_size($base_level, 1);
    }
    @include small_resolution()
    {
        font-size: font_size($base_level, 2);
    }

}

//Alternative way for changing font sizes (dynamically when screen resolution changes):

@function font_size2($property, $max_font, $min_font, $min_resolution, $max_resolution){
    $size: 0;

    @if $property == "the_biggest"{
        $size: calc(#{$min_font}px + (#{$max_font} - #{$min_font}) * ((100vw - #{$min_resolution}px) / (#{$max_resolution} - #{$min_resolution}))) ;
    }

    @if $property == "big"{
        $size: calc(#{$min_font}px + (#{$max_font} - #{$min_font}) * ((100vw - #{$min_resolution}px) / (#{$max_resolution} - #{$min_resolution})));
    }

    @if $property == "medium"{
        $size: calc(#{$min_font}px + (#{$max_font} - #{$min_font}) * ((100vw - #{$min_resolution}px) / (#{$max_resolution} - #{$min_resolution})));
    }

    @if $property == "medium_small"{
        $size: calc(#{$min_font}px + (#{$max_font} - #{$min_font}) * ((100vw - #{$min_resolution}px) / (#{$max_resolution} - #{$min_resolution})));
    }

    @if $property == "small"{
        $size: $small_font * 1px;
    }

    @if $property == "the_smallest"{
        $size: $the_smallest_font * 1px;
    }

    @return $size;
}

//If screen width is desktop give maximum font-size:

@function font_size2_max($property){
    $size: 0;

    @if $property == "the_biggest"{
        $size: $the_biggest_font_max * 1px;
    }

    @if $property == "big"{
        $size: $big_font_max * 1px;
    }

    @if $property == "medium"{
        $size: $medium_font_max * 1px;
    }

    @if $property == "medium_small"{
        $size: $medium_small_font_max * 1px;
    }

    @if $property == "small"{
        $size: $small_font * 1px;
    }

    @if $property == "the_smallest"{
        $size: $the_smallest_font * 1px;
    }

    @return $size;
}

//If screen width is mobile give minimum font size:

@function font_size2_min($property){
    $size: 0;

    @if $property == "the_biggest"{
        $size: $the_biggest_font_min * 1px;
    }

    @if $property == "big"{
        $size: $big_font_min * 1px;
    }

    @if $property == "medium"{
        $size: $medium_font_min * 1px;
    }

    @if $property == "medium_small"{
        $size: $medium_small_font_min * 1px;
    }

    @if $property == "small"{
        $size: $small_font * 1px;
    }

    @if $property == "the_smallest"{
        $size: $the_smallest_font * 1px;
    }

    @return $size;
}

//Conect all of the rules:
@mixin font_sizes2($property, $max_font, $min_font, $min_resolution, $max_resolution){
    font-size: font_size2($property, $max_font, $min_font, $min_resolution, $max_resolution);
    @include small_resolution(){
        font-size: font_size2_min($property);
    }

    @include desktop_resolution(){
        font-size: font_size2_max($property);
    }
}

//Defining height between lines of text:

@function line_height($property){

    $height: 0;

    @if $property == "small"{
        $height: $line_small;
    }
    @else if $property == "medium"{
        $height: $line_medium;
    }
    @else if $property == "normal"{
        $height: $line_normal;
    }
    @else if $property == "recommended"{
        $height: $line_recommended;
    }
    @else{
        $height: $line_big;
    }

    @return $height;
}

//Defining spacing between letters:

@function letter_spacing($property){
    
    $spacing: 0;
    @if $property == "small"{
        $spacing: $letter_small;
    }
    @else if $property == "medium"{
        $spacing: $letter_medium;
    }
    @else if $property == "normal"{
        $spacing: $letter_normal;
    }
    @else if $property == "recommended"{
        $spacing: $letter_recommended;
    }
    @else{
        $spacing: $letter_big;
    }

    @return $spacing;
}

//Defining paddings and margins for headers:
// @mixin headers_padiings_margins(){
//     padding: $h_padding_top $h_padding_right $h_padding_down $h_padding_left;
//     margin: $h_margin_top $h_margin_right $h_margin_down $h_margin_left;
// }

////Styling the page////

body
{
    background-color: rgb(223, 230, 236);
    width: 100%;
    line-height: line_height(normal);
    letter-spacing: letter_spacing(normal);
}

.content
{
    padding: $content_padding;
}

h1, h2, h3, h4, h5, h6 {
    line-height: line_height(normal);
    margin-bottom: $header_margin_bottom;
}

p {
    margin-bottom: $paragraph_margin_bottom;
}

// .headers{
//     @include headers_padiings_margins();
// }

.hr
{
    border-bottom: 5px black solid;
}

h1, .the_biggest
{
    @include font_sizes2(the_biggest, $the_biggest_font_max, $the_biggest_font_min, $small_resolution, $medium_resolution);
    //@include font_sizes(0);
}

h2, .big
{
    @include font_sizes2(big, $big_font_max, $big_font_min, $small_resolution, $medium_resolution);
    //@include font_sizes(0);
}

h3, .medium
{
    @include font_sizes2(medium, $medium_font_max, $medium_font_min, $small_resolution, $medium_resolution);
    //@include font_sizes(0);
}

h4, .medium_small
{
    @include font_sizes2(medium_small, $medium_small_font_max, $medium_small_font_min, $small_resolution, $medium_resolution);
    //@include font_sizes(0);
}

h5, .small
{
    @include font_sizes2(small, $small_font, $small_font, $small_resolution, $medium_resolution);
    //@include font_sizes(0);
}

h6, .the_smallest
{
    @include font_sizes2(the_smallest, $the_smallest_font, $the_smallest_font, $small_resolution, $medium_resolution);
    //@include font_sizes(0);
}
