/*$first_color: rgb(182, 204, 206);
$second_color: rgb(129, 48, 48);
$third_color: white;
$default_height: 100%;
$big_font: 30px;*/

/*$colors: (
    primary: rgb(25, 105, 18),
    primary-light: lighten(rgb(25, 105, 18), 40%),
    primary-dark: darken(rgb(25, 105, 18), 40%),
    accent: rgb(201, 138, 55)
);

$padding: 15px; 
$borders: 15px;
$desktop: 840px;*/