//Breakpoint resolutions of screen
$lg: 1600;
$md: 1068;
$sm: 735;

//Base font size and size changing ratio:

$baseFont: 80px;
$base_ratio: 0.67;
$resolution_ratio: 0.75;

//0        |   80   |    60   |   45
//1        |   54   |    40   |   30
//2        |   36   |    27   |   20
//3        |   24   |    20   |   16
//4        |   16   |    16   |   16
//5        |   11   |    11   |   11

//Base font sizes - alternate way:
$xxl: ("lg": 80, "md": 60, "sm": 45);
$xl:  ("lg": 54, "md": 40, "sm": 30);
$l:  ("lg": 54, "md": 40, "sm": 30);
$m:  ("lg": 54, "md": 40, "sm": 30);
$s:  ("lg": 54, "md": 40, "sm": 30);
$xs:  ("lg": 54, "md": 40, "sm": 30);

$baseFontSizes: 80, 60 , 45;

$line_small: 0.8;
$line_medium: 1.1;
$line_normal: 1.3;
$line_recommended: 1.6;
$line_big: 2.0;

//Spacing between letters:

$letter_small: -0.2em;
$letter_medium: -0.05em;
$letter_normal: 0.009em;
$letter_recommended: 0.1em;
$letter_big: 0.2em;

//Paddings and margins:
$header_padding_down: 15px;
$header_padding_left: 15px;
$header_margin_bottom: 15px;
$paragraph_margin_bottom: 1em;
$content_padding: 20px;
