//Site colors palette:
$primary: #F6F4F2;
$secondary: #425664;
$teritary: #C6AD8F;
$success: #3DA557;
$error: #A83E3E;
$warning: #E8AA37;
$link: #0070c9;
$link_hover: #005faa;

//Breakpoint resolutions of screen
$resolutions:
(
    "lg": 1068,
    "md": 1068,
    "sm": 735
);

//Base font size and size changing ratio:
$baseFont: 80px;
$baseRatio: 0.67;
$resolutionRatio: 0.75;

//0        |   80   |    60   |   45
//1        |   54   |    40   |   30
//2        |   36   |    27   |   20
//3        |   24   |    20   |   16
//4        |   16   |    16   |   16
//5        |   11   |    11   |   11

//Base font sizes - alternate way:
$xxl: ("lg": 80, "md": 60, "sm": 45);
$xl:  ("lg": 54, "md": 40, "sm": 30);
$l:  ("lg": 36, "md": 27, "sm": 20);
$m:  ("lg": 24, "md": 20, "sm": 16);
$s:  ("lg": 16, "md": 16, "sm": 16);
$xs:  ("lg": 11, "md": 11, "sm": 11);

$baseFontSizes: 80, 60, 45;

//Spacing between lines:
$lineSmall: 0.8;
$lineMedium: 1.1;
$lineNormal: 1.3;
$lineRecommended: 1.6;
$lineBig: 2.0;

//Spacing between letters:
$letterSmall: -0.2em;
$letterMedium: -0.05em;
$letterNormal: 0.009em;
$letterRecommended: 0.1em;
$letterBig: 0.2em;

//Paddings and margins:
$headerPaddingDown: 15px;
$headerPaddingLeft: 15px;
$headerMarginBottom: 15px;
$paragraphMarginBottom: 1em;
$contentPadding: 20px;

//Number of max columns amount and gap between them:
$columnsAmount: 12;
$gridGap: 10px;

//Button sizes:
$buttonSizes:
(
    "small": ("paddingH": 5px, "paddingV": 12px, "margin": 5px, "minFontSize": 9, "maxFontSize": 11),
    "medium": ("paddingH": 10px, "paddingV": 25px, "margin": 10px, "minFontSize": 11, "maxFontSize": 16),
    "big": ("paddingH": 20px, "paddingV": 50px, "margin": 20px, "minFontSize": 16, "maxFontSize": 24)
);

//Button radius:
$buttonRadius:
(
    "no-radius": 0,
    "small-radius": 0.5em,
    "medium-radius": 1em,
    "big-radius": 2em,
    "oval": 50%
);

//Button effects:
$buttonEffects:
(
    "hover-opacity": ("opacity": 0.8, "transition": 0.8s),
    "hover-down": ("translateX": 0px, "translateY": 10px),
    "hover-up": ("translateX": 0px, "translateY": -10px),
    "hover-left": ("translateX": -10px, "translateY": 0px),
    "hover-right": ("translateX": 10px, "translateY": 0px)
);

//Table layout:
$tableLayout: ("auto": auto, "fixed": fixed);

//Table align:
$tableAlign: 
(
    "right": ("margin-left": auto, "margin-right": 0),
    "left": ("margin-left": 0, "margin-right": auto),
    "center": ("margin-left": auto, "margin-right": auto)
);

//Table-border:
$tableBorders: (solid, dotted, dashed, double);

//Table color saturation
$colorSaturations: (lighten, darken);

//Table elements default color:
$tableElementsColor: 
(
    "caption": $secondary, 
    "th": $teritary,
    "tr1": $primary,
    "tr2": $primary,
);

//Table paddings:
$tablePaddings:
(
    "no-padding": ("caption": 0, "header": 0, "cell": 0),
    "small-padding": ("caption": 15px, "header": 10px, "cell": 5px),
    "medium-padding": ("caption": 30px, "header": 20px, "cell": 10px),
    "big-padding": ("caption": 45px, "header": 30px, "cell": 15px)
);