/*Defining base font size and values of base and resolution ratio with 2 breakpoints (mobile and tablet).
Defining function for changing size of font (in pixels):

                 | RESOLUTION RATIO LEVEL
--------------------------------------------
BASE RATIO LEVEL |    0   |    1    |   2
--------------------------------------------
        0        |   80   |    60   |   45
        1        |   54   |    40   |   30
        2        |   36   |    27   |   20
        3        |   24   |    20   |   16
        4        |   16   |    16   |   16
        5        |   11   |    11   |   11
*/


@function font_size($baseRatioLevel, $resolutionRatioLevel){
    $fontSize: $baseFont;

    @if $baseRatioLevel == 4 or $baseRatioLevel == 5{
        $resolutionRatioLevel: 0;
    }

    @if $baseRatioLevel > 0{
        @for $i from 1 through $baseRatioLevel{
            $fontSize: $fontSize * $baseRatio;
        }
    }

    @if $resolutionRatioLevel > 0{
        @for $i from 1 through $resolutionRatioLevel{
            $fontSize: $fontSize * $resolutionRatio;
        }
    }

    @if $baseRatioLevel == 3 and ($resolutionRatioLevel == 1 or $resolutionRatioLevel == 2){
        $fontSize: $fontSize + 2;
    }

    $fontSize: round($fontSize);

    @return $fontSize;
}

//Mixin changing font-sizes for different resolution of the screen:
//

@mixin resolution($size) {
    @if $size == "lg"
    {
        @content;
    }
    @else
    {
        @media (max-width: map-get($resolutions, $size) * 1px) {
            @content;
        }
    }
}

@mixin small_resolution {
    @media (max-width: map-get($resolutions, "sm") * 1px) {
        @content;
    }

}

@mixin medium_resolution {
    @media (max-width: map-get($resolutions, "md") * 1px) {
        @content;
    }
}

@mixin desktop_resolution {
    @media (min-width: map-get($resolutions, "lg") * 1px){
        @content;
    }
}

@mixin font_sizes($baseLevel){
    font-size: font_size($baseLevel, 0);
    @include medium_resolution()
    {
        font-size: font_size($baseLevel, 1);
    }
    @include small_resolution()
    {
        font-size: font_size($baseLevel, 2);
    }

}

@mixin font_sizes2($maxFont, $minFont) {
    font-size: calc(#{$minFont}px + (#{$maxFont} - #{$minFont}) * ((100vw - #{map-get($resolutions, "sm")}px) / (#{map-get($resolutions, "lg")} - #{map-get($resolutions, "sm")})));

    @include small_resolution() {
        font-size: #{$minFont}px;
    }
    @include desktop_resolution() {
        font-size: #{$maxFont}px;
    }
}